@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'poppins', sans-serif; */
/* font-family: 'Playfair Display',serif; */

/* Navbar CSS */

.navbar{
  font-family: 'roboto',sans-serif;;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  background: -webkit-linear-gradient(to right, #01aaa2, #003e56);
  background: linear-gradient(to right,#01aaa2,#003e56);
}

.nav-link{
  font-weight: 300;
  color: white;
}
.nav-link:hover{
  color: #ffefba;
  border-bottom: 2px solid #ffefba;
}

.active{
  color:  #ffefba;
  border-bottom: 2px solid #ffefba;
}

.navbar-brand{
  color: white;
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}
.navbar-brand:hover{
  color: #ffefba;
}

/* Footer CSS */
.footer{
  color: white;
  padding: 25px;
  background: #000000;
  background: -webkit-linear-gradient(to right, #01aaa2, #003e56);
  background: linear-gradient(to right,
    #01aaa2,
    #003e56);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}